        /* ______________________________________________________ main header */
        
        .main-header {
            padding: 24px 0 0 0;
            .main-search {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 16px;
                    transform: translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 30px;
                }
                input {
                    width: 100%;
                    height: 36px;
                    padding: 0 0 0 40px;
                    background-color: #F2F5FC;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                }
            }
            .menu-btn {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img {
                    width: 30px;
                }
            }
        }
        /* navigation component */
        
        .navigation {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #031B40;
            height: 72px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            z-index: 2;
            a {
                position: relative;
                &.router-link-exact-active {
                    &::before {
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        position: absolute;
                        bottom: -15px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: #07c1f6;
                    }
                }
            }
        }
        /* _______________________________________________________ main title */
        
        .main-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 15px 0;
                h2 {
                    font-weight: bold;
                    margin: 0 10px 0 10px;
                }
            }
        }
        /* _________________________________________________________market component */
        
        .all-roll {
            width: max-content;
            display: flex;
        }
        
        .market-card {
            width: 230px;
            margin-right: 10px;
            position: relative;
            border: 1px solid #F2F5FC;
            border-radius: 7px;
            figure {
                /* border-radius: 7px;
            overflow: hidden; */
                position: relative;
                img {
                    width: 100%;
                }
            }
            .market-info {
                list-style-type: none;
                padding-left: 5px;
                text-align: left;
                li {
                    color: #2F3033;
                    &:first-child {
                        font-weight: bold;
                    }
                    &:last-child {
                        padding-left: 11px;
                    }
                }
            }
        }
        
        .comming-soon {
            .market-info {
                li {
                    img {
                        filter: grayscale(1);
                    }
                }
            }
            figure {
                &::after {
                    content: "Comming Soon";
                    position: absolute;
                    top: 15px;
                    left: -5px;
                    width: 65px;
                    height: 18px;
                    background-color: #031B40;
                    color: white;
                    font-size: 7px;
                    line-height: 18px;
                    padding-left: 2px;
                    clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%);
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #031b4060;
                }
            }
        }
        /* _______________________________________________sell card component */
        
        .today-hot,
        .product-card {
            width: 110px;
            margin-right: 10px;
            figure {
                position: relative;
                img {
                    width: 100%;
                }
            }
            h4 {
                font-weight: bold;
                margin: 0;
            }
        }
        
        .discount {
            figure {
                &::before {
                    content: url(../../assets/icons/discount.png);
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: -3px;
                    left: -2px;
                }
            }
        }
        
        .rate {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p {
                margin: 0;
                color: #26C99A;
            }
            img {
                margin-right: 5px;
            }
        }
        /* ____________________________next page (todays hot) */
        
        .todays-hot-card {
            margin-bottom: 20px;
            figure {
                position: relative;
                border-radius: 7px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
        
        .todays-hot-info {
            p {
                text-align: left;
            }
            .div {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        
        .discount2 {
            display: flex;
            justify-content: flex-start !important;
            align-items: center !important;
        }
        /* ________________________________________________________________________________ */
        /* ____________________________next page (select food) */
        
        .select-food-main {
            div {
                &:first-child {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            p {
                text-align: left;
            }
            .info-pop-1 {
                max-height: 72px;
                overflow-y: auto;
                padding: 5px 10px 3px 8px;
                border-radius: 7px;
            }
        }
        /* ____________________________next page (menu) */
        
        .menu {
            position: fixed;
            width: 100%;
            background: white;
            z-index: 10;
            height: 100vh;
            top: 0;
            left: 0;
            transform: translateX(0%);
            .menu-head {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 40px 0 15px 0;
                section {
                    h3 {
                        font-weight: bold;
                    }
                }
                * {
                    margin: 0;
                    text-align: left;
                    color: white;
                }
                img {
                    margin: 0 15px 0 15px;
                }
            }
            ul {
                list-style-type: none;
                text-align: left;
                padding: 20px 35px 35px 35px;
                li {
                    display: flex;
                    align-items: center;
                    padding: 15px 0;
                    border-bottom: 1px solid silver;
                    font-size: 12px;
                    @extend .gray-text-color;
                    &:last-child {
                        border: none;
                    }
                    a {
                        width: 100%;
                        display: inline-block;
                        text-decoration: none;
                        @extend .gray-text-color;
                    }
                    img {
                        filter: brightness(0.5);
                        margin: 0 10px 0 0;
                    }
                }
            }
        }
        
        .all-blue-menu {
            ul {
                @extend .darkBlue-bg;
                li {
                    color: white !important;
                    img {
                        filter: brightness(1);
                    }
                }
            }
            .menu-head {
                img {
                    margin: 0 15px 0 35px;
                }
            }
        }
        
        //--------------------next page Account
        .Account {
            width: 100%;
            height: 100vh;
            background: white;
            .back-arrow {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;
                padding: 8px 5px 0px;
                img {
                    width: 18px;
                    transform: rotate(180deg);
                    margin: 0 5px;
                }
            }
            .Account-head {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                padding: 40px 0 15px 0;
                section {
                    h3 {
                        font-weight: bold;
                    }
                }
                * {
                    margin: 0;
                }
                img {
                    transform: scale(1.7);
                    margin-bottom: 20px;
                }
            }
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                padding-left: 40px;
                li {
                    border-top: 1px solid silver;
                    text-align: left;
                    padding: 18px 0 18px 0;
                    a {
                        @extend .dark-text-color;
                        width: 100%;
                        display: inline-block;
                        text-decoration: none;
                    }
                }
            }
        }
        
        // ___________________________________________________menu pop up style(next page)
        .pop-up-container {
            position: fixed;
            z-index: 20;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60vh;
            min-height: 300px;
            overflow: auto;
            background-color: white;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 7px 7px 0 0;
            header {
                width: 100%;
                border-bottom: 1px solid silver;
                h2 {
                    margin: 10px 0 10px 0;
                    font-weight: bold;
                }
            }
            footer {
                width: 100%;
            }
            ul {
                width: 100%;
                padding: 0 35px 50px;
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: none;
                    padding: 0 0 7px 0;
                    font-size: 16px;
                    font-weight: normal;
                    label {
                        margin: 0;
                        @extend .dark-text-color
                    }
                }
            }
            .sorting-1 {
                width: 100%;
                .range {
                    .btn-outline-primary {
                        background-color: white;
                        color: black;
                        outline: none !important;
                        border: none !important;
                        font-weight: bold;
                    }
                    .active {
                        color: #07c0f6;
                        background-color: white;
                        outline: none !important;
                    }
                    .focus {
                        box-shadow: none !important;
                    }
                }
                .rating-container {
                    width: 50%;
                    margin: auto;
                    // disabling rating box border (bootstrapVue overWright)
                    .form-control {
                        border: none;
                    }
                    svg {
                        transform: scale(1.2);
                        path {
                            fill: #26c99a;
                        }
                    }
                }
                h3 {
                    font-size: 16px;
                    font-weight: normal;
                    text-align: left;
                    padding: 0 35px;
                    margin: 0;
                }
                ul {
                    padding-bottom: 0;
                }
            }
            .sorting-2 {
                width: 100%;
                .range {
                    padding: 0 35px;
                    .btn-group {
                        width: 100%;
                    }
                    .btn-outline-primary {
                        background-color: white;
                        color: black;
                        outline: none !important;
                        border: 1px solid silver !important;
                        font-weight: normal;
                        padding: 3px 16px;
                        font-size: 16px;
                    }
                    .active {
                        color: white;
                        background-color: #07c0f6;
                        outline: none !important;
                    }
                    .focus {
                        box-shadow: none !important;
                    }
                }
                .rating-container-2 {
                    padding: 0 35px;
                    .btn-group {
                        width: 100%;
                    }
                    .btn-outline-primary {
                        background-color: white;
                        color: silver;
                        outline: none !important;
                        border: 1px solid silver !important;
                        font-size: 16px;
                        padding: 2px 0;
                    }
                    .active {
                        color: #26c99a;
                        background-color: white;
                        outline: none !important;
                    }
                    .focus {
                        box-shadow: none !important;
                    }
                }
                h3 {
                    font-size: 16px;
                    font-weight: normal;
                    text-align: left;
                    padding: 0 35px;
                    margin: 0;
                }
                ul {
                    padding-bottom: 0;
                }
            }
        }
        
        // __________________________________dark cover 
        .dark-cover {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 5;
        }
        
        //  _______________________________________________market
        .market {
            width: 100%;
            position: fixed;
            z-index: 3;
            bottom: 0;
            left: 0;
            background-color: white;
            z-index: 6;
        }
        
        .market>div {
            width: 100%;
            border-top: 1px solid silver;
            transition: 0.1s;
            cursor: pointer;
            padding: 10px 0 10px 0;
        }
        
        .market>div:hover {
            background-color: #07C1F6;
        }
        
        .market>div:hover * {
            color: white;
        }
        
        .marget h3 {
            font-weight: bold;
        }
        
        .market-block {
            width: 80%;
            margin: auto;
        }