@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import './style.scss';
@import './style2.scss';
@import './login';
@import './select-food';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

p {
    margin: 0;
}

.border-silver {
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 5px 0;
}

.main-wrapper {
    position: relative;
    padding-bottom: 75px;
    padding-top: 60px;
}

.submit-btn {
    outline: none !important;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 45px;
}

.done-btn {
    color: #07c0f6;
    background: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
}

.closeMenu-btn {
    background: transparent;
    color: white;
    border: none;
    outline: none !important;
    font-size: 35px;
    cursor: pointer;
}

.select-btn {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    color: black;
    padding: 10px;
    font-size: 13px;
}

.over-flow {
    overflow: hidden;
}

.lower-marsh {
    overflow: hidden;
}

.todays-hot {
    overflow: hidden;
}

.product {
    overflow: hidden;
}

.fz-30 {
    font-size: 30px;
}

.fz-20 {
    font-size: 20px;
}

.fz-18 {
    font-size: 18px;
}

.fz-16 {
    font-size: 16px;
}

.fz-15 {
    font-size: 15px;
}

.fz-14 {
    font-size: 14px;
}

.fz-13 {
    font-size: 13px;
}

.fz-12 {
    font-size: 12px;
}

.fz-11 {
    font-size: 11px;
}

.fz-10 {
    font-size: 10px;
}

// color classes
.dark-text-color {
    color: #031B40;
}

.gray-text-color {
    color: #909399;
}

.gray-bg {
    background-color: #F2F5FC;
}

.discount-text-color {
    color: #C93A5C;
}

.lightBrown-color {
    color: #C9751C;
}

.darkBlue-bg {
    background-color: #031b41;
}

.blue-bg {
    background-color: #4167b2 !important;
}

.lightBlue-bg {
    background-color: #07c0f6;
}

.lightBlue-color {
    color: #07c0f6 !important;
}